.searchbox {
  text-align: center;
  with: 50%;
}
.modal-dialog {
  width: 90%;
  height: 90%;
  padding: 0;
}

.modal-content {
  height: 90%;
  border-radius: 0;
  padding-left:10px;
}

body {
  background-image: url('https://s3-eu-west-1.amazonaws.com/spudsearch/spuds.jpg');
  background-size: cover;
  filter: brightness(50%);
}

.container {
  background: white;
  padding-right: none;
}


.navbar {
  text-align: center;
  color: white;
  background-image: url('https://s3-eu-west-1.amazonaws.com/spudsearch/spuds.jpg');
  background-size: cover;
  padding-bottom: 10px;
}

h1 {
  font-size: 75px;
}


.title {
  font-size: 40px;
}
.col-sm-8 {

}

.form-group {
  float: none;
  margin-left: auto;
  margin-right: auto;
  width: 25%;

}

.modalTitle {
  font-size: 50px;
}

.pull-right {
  margin-right: 20px;
}

.postBody {
  font-size: 20px;
  padding-left: 15px;
}

.postRow {
  padding-top: 25px;
}
