<!DOCTYPE html>
<html ng-app="myApp">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Spud Search</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link href="bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="/assets/app.css" rel="stylesheet">

  </head>
  <body ng-controller = "ListController">
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <h1> Spud Search </h1>
      </div>
    </nav>
      <form ng-submit="search()">
        <div class="form-group">
          <input type="text" class="form-control searchbox" id="search" ng-model="searchTerm"  placeholder="find yer tattie">
        </div>
      </form>
      <div class ="container">
       <div md-list-item ng-repeat="post in results">
         <hr>
         <div class="row">
          <div class="col-sm-3" >
            <img ng-src="{{post.media.m}}" alt="" ng-click="open(post)"/>
          </div>
          <div class="col-sm-9">
            <div class="title">
            <a {{post.title}} ng-click="open(post)"> {{ post.title | limitTo : 30 }}</a>
            </div>
              <h3>
                <a href="http{{post.description | authorLink}}">{{post.description | authorName}}</a>  | {{ post.date_taken | date }} <a href="{{post.link}}">View On Flickr</a>
              <br>
              </h3>
          </div>
        </div>
      </div>
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
   <script src='bower_components/angular/angular.min.js'></script>
   <script src="http://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.10.0/ui-bootstrap-tpls.js"></script>
   <script src='/assets/app.js'></script>
  </body>
</html>
