<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Spud Search</title>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.8/angular.js'></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.10.0/ui-bootstrap-tpls.js'></script>
    <script src='app.js'></script>
    <link href="bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="style.css" rel="stylesheet">

  </head>
  <body>
  <div ng-app="app">

         <div ng-controller="CustomerController">
          <div ng-repeat="customer in customers">
              <button class="btn btn-default" ng-click="open(customer)">{{ customer.name }}</button> <br />

                  <!--MODAL WINDOW-->
                  <script type="text/ng-template" id="myModalContent.html">
                      <div class="modal-header">
                          <h3>The Customer Name is: {{ customer.name }}</h3>
                      </div>
                      <div class="modal-body">
                              This is where the Customer Details Goes<br />
                              {{ customer.details }}
                      </div>
                      <div class="modal-footer">

                      </div>
                  </script>

          </div>
          </div>


  </div>


    <!-- Include all compiled plugins (below), or include individual files as needed -->
  </body>
</html>
