.searchbox {
  text-align: center;
  with: 50%;
}
.modal-dialog {
  width: 100%;
  height: 100%;
  padding: 0;
}

.modal-content {
  height: 100%;
  border-radius: 0;
}

body {
  background-image: url('http://static6.depositphotos.com/1001503/609/i/950/depositphotos_6092702-Healthy-food-background.-Potato.jpg');
  filter: brightness(50%);
}

.container {
  background: white;
  padding-right: none;
}

.navbar {
  text-align: center;
  background-color: red;
}
