<div class="modalTitle">
<button class="btn btn-primary pull-right" ng-click="cancel()">Back</button>
<h2>
<a href="{{post.link}}">{{post.title}} </a>
</h2>
<h4>
<a href="https://www.flickr.com/people/zimmcomm">{{post.author}}</a> | Published : {{ post.date_taken | date }}
</div>

<div class="container-fluid">
  <div class="row-fluid">
    <div class="col-sm-3">
      <!--Sidebar content-->
      <img src="{{post.media.m}}" alt="">
    </div>
    <div class="col-sm-6">
      {{post.description}}
    </div>
  </div>
</div>
